

//Header
$header-bg-color : #5E60CE;
$header-logo-color : #48BFE3;
$header-nav-link-color : #48BFE3;
$header-menu-btn-color : #48BFE3;

//SearchBox
$searchbox-fill-color : #5E60CE;
$searchbox-stroke-color : #48BFE3;
